<div class="cards-header">
  <h3>Products</h3>
</div>
<div class="cards-container" ngFor>
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Shiba Inu</mat-card-title>
      <div class="like-container">
        <div class="likes">
          <img mat-card-image src="../../../../assets/broken-heart.png" alt="like" class="dislike">
          <span>1</span>
        </div>
        <div class="likes">
          <img mat-card-image src="../../../../assets/like.png" alt="like" class="like">
          <span>2</span>
        </div>
      </div>
    </mat-card-header>
    <img mat-card-image src="../../../../assets/cheetos.PNG" alt="product photo">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>ADD</button>
      <mat-icon>
        shopping_cart
      </mat-icon>
      <button mat-button>REMOVE</button>
    </mat-card-actions>
  </mat-card>
</div>