<mat-toolbar>
  <div class="left-section">
    <button matbutton type="button" routerLink="cart">
      <mat-icon [ngClass]="navigation === 'cart' ? 'checkedClass' : 'uncheckedClass'"
        (click)="navigationHandler('cart')">
        shopping_cart
      </mat-icon>
    </button>
    <button matbutton type="button" routerLink="products">
      <span [ngClass]="navigation === 'products' ? 'checkedClass' : 'uncheckedClass'"
        (click)="navigationHandler('products')">
        Products
      </span>
    </button>
  </div>
  <div class="right-section">
    <img [matMenuTriggerFor]="menu" src='../../../assets/avatar.svg' alt="avatar" class="avatar" />
    <mat-menu #menu="matMenu" id="menu">
      <p>
        <span>ID: </span>
        {{ menuInfo.data?.user?.id }}
      </p>
      <p>
        <span>Name: </span>
        {{ menuInfo.data?.user?.name }}
      <p>
        {{ menuInfo.data?.user?.email }}
      </p>
      <button id="logout" (click)="logout()">
        Logout
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
<div class="content-section">
  <router-outlet></router-outlet>
</div>