@mixin formater {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@mixin principal-button {
  background-color: $primary;
  color: white;
  width: 100%;
  padding: 5px 15px;
  border-radius: 5px;
  border: none;
  cursor: pointer;

  &:hover {
    box-shadow: 1px 2px 10px $disableds;
  }

  &:disabled {
    background-color: lightgray;
    color: $disableds;
    box-shadow: none;

    &:hover {
      cursor: not-allowed;
    }
  }
}